*{outline: 0px dotted white;
margins: 0px;
padding: 0px;}




div.gray-wrapper {
    width: 2000px;
    height: 800px;
    background-color: gray;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
div.green-box {
    width: 1500px;
    height: 200px;
    background-color: green;
    border: solid black;
    vertical-align: top;
    margin-left: 100px;
    margin-right: 50px;
}



div.blue-box {
    width: 200px;
    height: 500px;
    background-color: blue;
    border: solid black;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 200px;
}

div.red-box{
    width: 1000px;
    height: 400px;
    background-color:red;
    border: solid black;
    display: inline-block;
    margin-top: 50px;
    margin-left: 100px;


}

div.yellow-left{  
    width: 200px;
    height: 100px;
    background-color:yellow;
    border: solid black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;

}


div.yellow-middle{  
    width: 200px;
    height: 100px;
    background-color:yellow;
    border: solid black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;

}

div.yellow-right{  
    width: 200px;
    height: 100px;
    background-color:yellow;
    border: solid black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;}

    div.purple-box{ 
        width: 500px;
    height: 100px;
    background-color: purple ;
    border: solid black;
    margin-top: 200px;
    margin-right: 100PX;
    }
    

